#cy-container 
{
    border: 3px solid #2b0040; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    padding: 10px; 
    margin: 0 2.5%;
    margin-bottom: 20px; 
}

#Title 
{
    color: goldenrod;
    border: 2px solid goldenrod;
    border-left: goldenrod;
    border-right: goldenrod;
    text-align: center;
    font-size: 25px;
}

#input-container
 {
    margin-top: 2%;
    text-align: center;
    margin-bottom: 20px;
}

#input 
{
    padding: 10px;
    font-size: 22px;
    margin: 0 auto; 
}

#button_create 
{
    margin-top: 10px;
    width: 20%;
    height: 50px;
    background: transparent;
    border: 3px solid #2b0040; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: goldenrod;
}

#matrixInput
{
    background: transparent;
    border: 3px solid #2b0040; 
    font-size: 20px;
    color: goldenrod;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body 
{
    background-color: #180521; 
    margin: 0;
    padding: 0;
}
